body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.head{
    color: rgb(191, 15, 201);
}

.login{
    padding: 20px;
    text-align: center;
    width: 300px;
}

.inputs {
    text-align: right;
    position: relative;
    margin-bottom: 15px;
}

.icon {
    position: absolute;
    padding: 9px 5px;
    padding-bottom: 13px;
    background-color: #232528;
    color: #888;
}

.input {
    width: 100%;
    padding: 10px 10px 10px 35px; 
    border: 1px solid #ddd;
}

.loginbtn:hover {
    background-color: #0056b3;
}

.loginbtn{
    margin-top: 15px;
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
}


.register {
    text-align: center;
    width: 500px;
}
.inputs2{
    text-align: right;
    display: flex;
    gap: 5px;
}
#form-registration{
    text-align: right;
}

.input2 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.submitbtn {
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

